body{
    margin-left: 40px;
    background-color: rgb(54, 120, 158);
    background-image: url('/backgroundimage.png');
    font-family: 'Roboto', sans-serif;
    

}
.login-box{
    margin-top:100%;
    width: 350px;
    height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    
}
.register-box{
    width: 350px;
    height:800px;
    margin: auto;
    background-color: white;
    border-radius: 4px;

}

p1{
    margin: 15px 0;
    color:black;
    font-size:14px;
    display:inline-block;
    padding:5px 20px;
    margin-top :20px;
    margin-bottom:20px;
}
#message {
    margin-bottom: 10px;
    display:block;
    color: red; /* Adjust the value to add more or less space */
}
input[name="register"] {
    display: block;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
h2{
    margin-left: 50px;
}
form{
    width: 300px;
    margin-left: 30px;
}
form label{
    display: flex;
    margin-top: 30px;
    font-size: 20px;
}
form input{
    width: 80%;
    padding: 8px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
}
input[type="button"]{
    width: 100px;
    height: 30px;
    margin-top: 30px;
    border: none;
    background-color: skyblue;
    color: black;
    font-size: 15px;
    margin-left: 80px;
}
input[type="submit"]{
    width: 100px;
    height: 30px;
    margin-top: 30px;
    border: none;
    background-color: skyblue;
    color: black;
    font-size: 15px;
    margin-left: 80px;
}
header{
    background-color: rgb(162, 184, 169);
    align-items:center;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    display:flex;
    height: 100px;
    
}
.logo-cont{
    max-height: 100px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.logo{
    max-height: 100%;
    width: auto;

}
nav{
    display:flexbox;
}
button{
    margin-top: 30px;
    margin-right: 8px;
    cursor:pointer;
}
submit{
    margin-top: 30px;
    margin-right: 8px;
    cursor:pointer;
}
.content-section{
    
    margin-left :60px;
    background-color: rgba(250, 249, 249, 0.904);
    font-size: 50px;
    
}
.welcome-image{
    margin-left: 90px;
    max-width: 300%;
    height: auto;
    margin-bottom: 20px;
}
.help-image{
    margin-left: 90px;
    max-width: 300%;
    height: auto;
    margin-bottom: 20px;
    float:left;
    border: 3px, solid white;
    margin-right: 30px;

}
.aboutus-image{
    margin-left: 90px;
    max-width: 300%;
    height:0%;
    margin-bottom: 20px;
    float:left;
    border: 3px solid white;
    margin-right: 30px;
}
.content{
    margin-left: 60px;
}
.logo-login{
    margin-top:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
}
#logo{
    height: auto;
    margin: 0 auto;
    display:block;
    max-width: 200px;
}
#logout-button{
    float:right;
    cursor:pointer;
    margin-right: 20x;
    margin-top: 10px;
}
#opts{
    padding: 1opx;
    margin-top: 10px;
    margin-right: 30px;
}
.opt{
    cursor: pointer;
    color:rgb(58, 20, 68);
    border-bottom: 2px solid transparent;
    cursor:pointer;    
}
.opt:hover{
    border-bottom-color:rgb(190, 161, 218);
}
#container-popup{
    background-color: aliceblue;
    position: fixed;
    display:none;
    left: 0;
    bottom: 0;
    right:0;
    justify-content: center;
    align-items: center;

}
#content-popup{
    max-width: 400px;
    background-color: beige;
    padding: 30px;
    box-shadow:0 0 10px rgba(73, 66, 66, 0.2) ;
    border-radius: 10px;
    height:400px;
    margin-left: 800px;
    width: 1600px;

}