*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --whiteColor: #ffffff;
    --blackColor: #161821;
    --limeGreen: limegreen;
    --redColor: #fe2c54; 
    --lightBlue: #36d1dc;
    --grayColor: #cccccc;
}
html{
    font-size: 64.5%
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    place-content: center;
    min-height: 120vh;
    font-family: "Montserrat", sans-serif;
    font-weight:450;
    background-color: gray;
}
.container{
    position: relative;
    width: 34rem;
    height: 60rem;
    background-color: var(--whiteColor);
    box-shadow: 0.5rem .5rem rgba(0 0 0 /.15);
    overflow: hidden;
}
.container .bar-menu{
    left: 0;
    bottom:0;
    position: absolute;
    width:100%;
    background-color: black;
    padding: 1rem .5rem;
    z-index: 1;
}
.container .bar-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .bar-menu ul li{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: .4rem;
    color: var(--whiteColor);
    opacity: .8;
    transition: all .6s ease;
    cursor:pointer;
}
.container .bar-menu ul li.i{
    font-size: 1.8rem;
}
.container .bar-menu ul li span {
    text-transform: capitalize;
}
.container .bar-menu ul li:nth-child(){
    align-items: center;
    display: flex;
    position: relative;
    height: 4rem;
    width: 5rem;
    justify-content: center;
    background-color:var(--whiteColor);

}
#SavePass-forum{
    max-width: 500px;
    margin: 0 auto;
}
#SavePass-forum label{
    display: block;
    margin-bottom: 5px;
    color: #333;
}
#SavePass-forum input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    box-sizing : border-box;
}
input[type=text] {
    width: calc(100% - 40px); /* Adjusted width to account for padding and margin */
    padding: 14px 22px;
    box-sizing: border-box;
    margin: 10px 20px;
    border: 2px solid;
    display: inline-block;
    margin-bottom: 10px;
}
label {
    margin-left: 20px;
    font-size: 25px;
    color: #010e0c; 
    font-weight: bold;
    display: block;
    margin-bottom: 5px; 
}
button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: white;
    font-size: 22px;
    font-weight:300;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:16px 26px;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 60px;
    margin-right:30px;
}
button:hover {
    opacity: 0.8;
}
  
h1{
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-top:60px;
}
h4{
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-size: 200%;
}
.generated-password {
    color: red;
}
.display{
    width: 80%;
    margin-top:50px;
    margin-bottom: 30px;
    background: #d6d0d0;
    color: #333;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 26px 20px;
    border-radius: 5px

}
 h2 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
h2{
    font-size: 40px;
    font-weight: 500;
}
display{
    width:300px;
}
.display img{
    width: 30px;
    cursor:pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.conatiner button img{
    width: 28px;
    margin-right: 5px;

}
.profile-pic {
    
    
    position: relative;
    left: 40%;
    transform: translateX(-50%);
  }

  .logout-btn {
    margin-top: 80px;
    margin-left: 110px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #20bcd8; 
    color: #080808; 
    font-size: 20px;
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.logout-container {
    text-align: center;
}
.copy-button {
    padding: 2px 5px; /* Adjust padding */
    font-size: 10px; /* Adjust font size */
    width: 12px; /* Adjust width */
    height: 12px; /* Adjust height */
}


  
/*
.conatiner button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: white;
    font-size: 22px;
    font-weight:300;
    display:flex;
    align-items: center
    justify content: center;
    padding:16px 26px;
    border-radius: 5px;
    cursor:pointer;
}*/


